<div class="row">
    <div class="col-12 text-center">
        <h1>Ami</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <p>App overview coming soon.</p>
    </div>
</div>

<div class="row">
    <div class="col-6 text-right">
        <button class="btn btn-outline-success shadow" (click)="goToRegister()">Register</button>
    </div>
    <div class="col-6 text-left">
        <button class="btn btn-outline-info shadow" (click)="goToLogin()">Login</button>
    </div>
</div>